$gameScore-gradient: linear-gradient(#006837, #188975);
$text-color: #C69C6D;
$button-bg: #1C2E1C;

@mixin gradient-bg() {
  background: $gameScore-gradient;
}

@mixin font() {
  font-family: "OpenSans-Regular", serif;
  font-size: 18pt;
  font-weight: bold;
  color: $text-color;
  @font-face {
    font-family: "OpenSans-Regular";
    src: url("../font/OpenSans-Regular.ttf");
  }
}

@mixin background-img-settings() {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin button-style() {
  display: flex;
  margin: 10px auto;
  background-color: $button-bg;
  border: none;
  padding: 20px;
  @include font;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}

@mixin responsive() {

  @media (max-width: 1550px) {
    #game-container {
      height: 450px;
    }
    .score-img {
      height: 80px;
      padding: 5px;
    }
    .elfscoreimg {
      justify-self: right;
    }

  }
}
